body {
  background-color: rgb(30,30,30);
}

.primary-color-1 {
  color: springGreen
}

.alignright {
  float: right;
  margin: 4px 0 7px 24px;
}

.primary-color-1-bg {
  background-color: springGreen
}

.primary-color-2 {
  color: dodgerblue
}

.primary-color-2-bg {
  background-color: dodgerblue
}

.navbar {
  padding-top: 1em;
  padding-bottom: 1em;
  transition: all 0.3s;
}

.top-down-gradient {
  background: linear-gradient(to bottom, black, rgba(0,0,0,0));
}

.navbar button {
  color: inherit !important;
}

.navbar.compressed {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}


.smallIcon {
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.hidden {
  display: none
}

@media only screen and (max-width: 767px)  {
  .brand-icon-small {
    height: 1.9rem;
    transition: all 0.3s;
  }
}

@media only screen and (min-width: 768px) {
  .brand-icon-small {
    height: 2rem;
    transition: all 0.3s;
  }
}

@media only screen and (max-width: 767px)  {
  .header-sizing {
    background-size: contain;
  }
}

@media only screen and (min-width: 768px) {
  .header-sizing {
    background-size: cover;
  }
}

@media only screen and (max-width: 767px)  {
  .brand-icon {
    height: 2rem;
    transition: all 0.3s;
  }
}

@media only screen and (min-width: 768px) {
  .brand-icon {
    height: 3rem;
    transition: all 0.3s;
  }
}

@media only screen and (max-width: 767px)  {
  #main-tag {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 768px) {
  #main-tag {
    font-size: 5em;
  }
}


@media only screen and (max-width: 767px)  {
  #supporting-tag {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  #supporting-tag {
    font-size: 2.3em;
  }
}

@media only screen and (max-width: 767px)  {
  #main-page-header {
    height:665px;
  }
}

@media only screen and (min-width: 768px) {
  #main-page-header {
    height:765px;
  }
}

@media only screen and (max-width: 767px)  {
  .desc-text {
    font-size:15px;
  }
}

@media only screen and (min-width: 768px) {
  .desc-text {
    font-size:25px;
  }
}

@media only screen and (max-width: 767px)  {
  .news-container {
      flex-direction: column;
      align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .news-container {
    flex-direction: row;
    align-items: center;

  }
}

@media only screen and (max-width: 767px)  {
  .headers-mobile {
    font-size:30px
  }
}

@media only screen and (min-width: 768px) {
  .headers-mobile {
    font-size:45px
  }
}