@media only screen and (max-width: 767px)  {
    .main-header {
      background: url(../../../bundled-assets/servers_small.jpg) no-repeat center center;
      background-size: cover;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .main-header {
      background: url(../../../bundled-assets/servers.jpg) no-repeat center center;
      background-size: cover;
    }
  }